@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* colors */

:root {
    --font-sans: "Inter", sans-serif;
    --no-color: transparent;
    --orange: #f9602a;
    --white: #ffffff;
    --black: #212121;
    --dark-gray: #545454;
    --medium-gray: #767676;
    --light-gray: #989898;
    --header-height: 64px;
}

/* standardizing */

* {
    color: var(--black);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
}

/* defining sizes */

body {
    width: 100vw;
}

#layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* standard container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/* nav bar */

.block-nav {
    width: 100vw;
    height: var(--header-height);
    position: fixed;
    background-color: var(--white);
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.nav-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 2rem;
    height: 2rem;
    min-width: 1rem;
    min-height: 1rem;
}

.logo > rect {
    fill: var(--orange);
}

.logo:hover > rect {
    fill: var(--dark-gray);
}

.nav-links {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-anchor {
    padding-left: 0.5rem;
    text-decoration: none;
}

.anchor-text {
    color: var(--medium-gray);
    font-weight: 700;
}

.anchor-text:hover {
    color: var(--black);
}

.links-curriculo {
    padding-left: 0.5rem;
    text-decoration: none;
}

.curriculo-text {
    color: var(--black);
    font-weight: 700;
}

.curriculo-text:hover {
    color: var(--medium-gray);
}

/* about */

.block-sobre {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/shrimp.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#sobre {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-text {
    display: flex;
    flex-direction: column;
}

.sobre-text > * {
    color: var(--white);
}

.sobre-h1 {
    font-size: 8rem;
    font-weight: 700;
    color: var(--orange);
}

.sobre-h1:hover {
    color: var(--dark-gray);
}

.sobre-h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.sobre-h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

/* experiencia */

.block-experiencia {
    width: 100vw;
    height: 100vh;
}

#experiencia {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiencia-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.experiencia-photo {
    width: 400px;
    margin-right: 4rem;
}

.experiencia-p,
.experiencia-p > span {
    font-size: 1.5rem;
}

.experiencia-p > span {
    color: var(--orange);
    font-weight: 600;
}
/* galeria */

.block-galeria {
    width: 100vw;
    height: 100vh;
}

#galeria {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.galeria-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

.galeria-image {
    width: 350px;
    max-width: 20rem;
    object-fit: cover;
}

.galeria-text {
    color: var(--medium-gray);
    font-size: 0.75rem;
    margin-top: 0.325rem;
}

/* contato */

.block-contatos {
    width: 100vw;
    height: 100vh;
}

#contatos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatos-video {
    width: 100%;
    height: 60vh;
    border: none;
}

@media screen and (max-width: 900px) {
    .experiencia-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .experiencia-photo {
        width: 300px;
        margin-right: 0rem;
        margin-bottom: 4rem;
    }

    .galeria-image {
        width: 400px;
    }

    .experiencia-text {
        text-align: center;
    }

    .sobre-h1 {
        font-size: 6.8rem;
    }

    .sobre-h2 {
        font-size: 2.75rem;
    }

    .sobre-h3 {
        font-size: 1.25rem;
    }
    .contatos-video {
        height: 50vh;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --header-height: 48px;
    }

    * {
        font-size: 14px;
    }

    #galeria {
        flex-direction: column;
    }

    .galeria-container {
        justify-content: center;
    }

    .galeria-image {
        width: 300px;
    }
    .contatos-video {
        height: 35vh;
    }
}

@media screen and (max-width: 430px) {
    * {
        font-size: 12px;
    }

    .links-anchor {
        padding-left: 4px;
    }

    .galeria-text {
        font-size: 0.9rem;
    }
    .contatos-video {
        height: 35vh;
    }
}
